<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <p>I am a fourth year Creative Media and Game Technologies student at Breda University of Applied Sciences. 
        I have a passion for the technical aspects associated with the creation of games. 
        This includes making features for said games and anything adjacent to make the game functional.
        I would say that my specialties are working on features with which the player interacts with directly, and technical gameplay features — such as making plants grow out of the ground, grapple hooks, etc.
        I have a lot of experience working in interdisciplinary teams which has given me a lot of insight into the creative avenues of game development as well. 
      </p>
      </p>
    </div>
  </div>
</section>
