<!-- Skills Section -->
<section class="success" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <div class="skills-row">
          <img src="img/skills/cpp.png" class="img-skills">
          <img src="img/skills/vs.png" class="img-skills">
          <img src="img/skills/rider.png" class="img-skills">
          <img src="img/skills/ue5.png" class="img-skills">
          <img src="img/skills/p4v.png" class="img-skills">
          <img src="img/skills/git.png" class="img-skills">
          <img src="img/skills/jira.png" class="img-skills">
          <img src="img/skills/ps4.png" class="img-skills">
        </div>
    </div>
  </div>
</section>
